
/* Mobile Screen -Principal layout*/
body{
  background-color: rgb(236, 236, 236);
  font-family: Arial, Helvetica, sans-serif;
}

main{
  margin-top: 58px;

}

.top-hdr-nav,
.bot-hdr-nav nav{
    display: none;
}

.logo {
  background: linear-gradient(to bottom right,#c09,#f42 85%);
  width: 90px;
  height: 100%;
}

.logo > img {
  margin: 15px;
}

.bot-hdr-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

.search,
.burger {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
  width: 40px;
  border: none;
  border-left: 1px solid rgb(236, 236, 236);
  background-color: white;
  
}

.search {
  background-image: url("../img/search.svg");
}

.burger {
  background-image: url("../img/burger-menu.svg");
}

.bot-hdr-nav-btn {
  height: 100%;
  display: flex;
}

/* Cover Section */
.cover{
  display: grid;
  grid-auto-rows: 30vh;
  margin: 10px;
}

.cover > article,
.section3 article {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
}

.cover-article1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgb(0, 0, 0,0.9) 80%), url("../img/article\ 1.jpg");
}

.cover-article2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgb(0, 0, 0,0.9) 80%), url("../img/article\ 2.jpg");
}

.cover-article3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgb(0, 0, 0,0.9) 80%), url("../img/article\ 3.jpg");
}

.cover-cat{
  margin-bottom: 10px;
  font-size: .9em;
}

.cover-title{
  margin-bottom: 10px; 
  font-weight: bold;
  font-size: 1.3em; 
}
.cover-meta,
.cover-meta a{
  font-size: .8em;
  color: #c2c2c2;
  text-decoration: none;
}
.inline-icon {
  vertical-align: text-top;
  display: inline-block;
  background-size: cover;
  height: 16px;
  width: 16px;
  background-position: center;
}
.time-ago{
  background-image: url("../img/clock.svg");
}
.shares{
  background-image: url("../img/share.svg");
  margin: 0 5px;
}
.section-wrapper{
  margin: 20px;
  font-family: Helvetica, sans-serif;
  padding-top: 24px;
  margin-top: 30px;
}

.section-title {
  margin-bottom: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 24px;
  color: #f42;
}

.section1 article,
.section4 article {
  display: flex;
  height: 75px;
  margin-bottom: 10px;
}

.section-wrapper article > a {
  display: block;
  height: 75px;
  margin-right: 10px
}

.section-wrapper img{
  height: 75px;
  width:75px;
  object-fit: cover;
}
.section-wrapper article h4,
.section-wrapper article p{
  margin-bottom: 10px;
}

.section-wrapper article h4{
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.section-wrapper article p{
  font-size: 12px;
  color: #aaa;
}

.section1 a,
.stock-box a,
.section3 a,
.section4 a {
  text-decoration: none;
  color: black;
}

.section2 ul a,
.section4-top > a {
  color: #f42;
  text-decoration: none;
}

.section2 ul li {
  margin-top: 11px;
}


.tag{
  background-image: url("../img/tags.svg");
}

.brief{
  background-image: url("../img/brief.svg");
}

.section2 > div {
  margin-bottom: 24px;
}

.stock-box {
  padding: 8px;
}

.stock-box img{
  float: left;
  width: 60px;
  height: 60px;
  margin: 10.6px;
}
.stock-cat{
  clear: left;
  padding: 16px;
}

.stock-cat > * {
  margin-bottom: 0.5em;
}

.stock-cat span {
  font-size: 13px;
  margin-left: 5px;
}

.stock-box > div:nth-child(1) {
  height: 43px;
  background-color: #f42;
}
.stock-box > div:nth-child(2) {
  height: 39px;
  background-color: rgba(255,68,34,.08);
}

.stock-box > div:last-child,
.stock-box > div:nth-last-child(2){
  background-color: rgba(255,68,34,.04);
}

.stock-box > div:nth-child(2) {
  height: 59px;
  padding-top: 11px;
}

.stock-box > div:last-child {
  height: 44px;
  font-size: 12px;
  padding: 10px 16px 16px;
  border-top: 1px solid rgba(255,68,34,.25)  ;
}

.stock-box > div:last-child a,
.section3 a{
  color: #555;
}

.stock-box h3{
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 43px;
}
.stock-box h4{
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5em;
}
.stock-box h5{
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5em;
}

.section3 {
  display: grid;
}

.section3 > div {
  padding: 8px;
}

.section3 article {
  height: 392px;
}

.section3 article{
  margin-bottom: 3px;
}

.section3 img{
  float: right;
}
.section3-latest {
  overflow: hidden;
  background-color: rgba(255,68,34,.08);

}
.section3-latest h5{
  font-size: .8em;
  color: #f42;
  padding: 10px 0 0 10px;
}

.section3-latest h4 {
  padding-left: 10px;
}

.section3-latest a{
  text-decoration: none;
  color: #f42;
  font-weight: 700;
  line-height: 1.3em;
}

.section3 li {
  padding: 5px 0;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.section3 li::before {
  content: "• ";
  color: red;
}

.section3 a,
.section4-top > a {
  font-size: 12px;
}

.section3-article1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgb(0, 0, 0,0.9) 80%), url("../img/section3-1.jpg");
}
.section3-article2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgb(0, 0, 0,0.9) 80%), url("../img/section3-2.jpg");
}
.section3-article3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgb(0, 0, 0,0.9) 80%), url("../img/section3-3.jpg");
}
.section3-article4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgb(0, 0, 0,0.9) 80%), url("../img/section3-4.jpg");
}
.section3-article5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgb(0, 0, 0,0.9) 80%), url("../img/section3-5.jpg");
}
.section3-article6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgb(0, 0, 0,0.9) 80%), url("../img/section3-6.jpg");
}
.section3-article7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgb(0, 0, 0,0.9) 80%), url("../img/section3-7.jpg");
}
.section3-article8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgb(0, 0, 0,0.9) 80%), url("../img/section3-8.jpg");
}

.section4-top > a {
  float: right;
}

.regular-price {
  text-decoration: line-through;
}

footer nav{
  background-color:#131313;
  display: flex;
  flex-direction: column;
  height: 160px;
  align-items: center;
  justify-content: center;
}

footer div{
  background-color: black;
  height: 121px;
}

footer nav ul{
  display:flex;
  height: 45px;
  max-width: 1192px;
  
}
.social-links {
  margin-bottom: 21px;
}

.social-links li{
  list-style-type: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #333;
  padding: 10px;
  margin: 0 3px;
}
.social-links a{
  display: block;
  margin: auto;
  background-image: url("../img/sprites2.png");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  text-align: center;
}
.face-icon{
  background-position: -272px -272px;
}

.twit-icon {
  background-position: -1024px -1024px;
}

.youtube-icon {
  background-position: -1280px -1280px;
}

.insta-icon {
 background-position: -416px -416px;
}

.pint-icon {
  background-position: -672px -672px;
}

.sfeed-icon {
  background-position: -816px -816px;
}

.news-icon {
  background-position: -576px -576px;
}

.footer-links li {
  text-transform: uppercase;
  margin: 0 4px;
}

.footer-links a {
  text-decoration: none;
  color: #aaa;
  font-size: 12px;
}
